extends layout

block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js')
  script(src="javascripts/sketch.js")
