doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      html, body {
      margin: 0;
      padding: 0;
      }
      canvas {
      display: block;
      }

  body
    block content
